/* .footer-area{
    
    text-align: center;
}
.footer-icon{
    padding: 20px;
}
.footer-icon .fab{
    padding: 8px;
    margin: 10px;
    font-size: 32px;
    color:#fff;
    border-radius: 50%;
}
.links{
    color: #fff;
    border-right: 1px solid gray;
}
.footer-icon .fab:hover{
color: darkgrey;
}
.footer-links{
    color: blanchedalmond;
    display: flex;
   justify-content: center;
    text-align: center;
}

.footer-links h5{
    margin: 0 20px;
} */

.footer-area{
    background: #282828;
    padding: 20px 0;
    /* text-align: center; */
}
.footer {
    width: 85%;
    margin: auto;
}
.footer-head{
    color: #fff;
}
.span-color{
    color: #E4A522;
}
.ico i{
    font-size: 24px;
    margin: 5px;
    color: #1097F5;
}

.f-head{
    margin-bottom: 30px;
}
hr{
    color:rgb(82, 82, 82)
}